*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Syne', sans-serif;
  background: #080810;
  color: #e8e8ff;
  overflow-x: hidden;
  max-width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #040408;
}
::-webkit-scrollbar-thumb {
  background: #00f5d4;
  border-radius: 3px;
}

::selection {
  background: #00f5d4;
  color: #080810;
}
